body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.cv-container {
  width: 21cm; /* A4 width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: relative;
}

header img {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

header img.grayscale {
  filter: grayscale(100%);
}

section {
  margin-top: 20px;
}

h1,
h2 {
  color: inherit;
}

/* Light Mode */
body.light-mode {
  background-color: #fff;
  color: #000;
}

body.light-mode a {
  color: #007bff;
}

body.light-mode svg {
  fill: #007bff;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode a {
  color: #1e90ff;
}

body.dark-mode svg {
  fill: #ffffff;
}

/* Style 1 */
.style1 {
  font-family: "Roboto", sans-serif;
}

/* Style 2 */
.style2 {
  font-family: "Open Sans", sans-serif;
}

/* Style 3 */
.style3 {
  font-family: "Lora", serif;
}

/* Style 4 - Cool Animated Background */
.style4 {
  font-family: "Courier New", monospace;
  color: #00ff00;
}

.animated-background {
  background: url("./images/stars.gif") no-repeat center center fixed;
  background-size: cover;
}

.animated-background svg {
  fill: #00ff00;
}

/* Header Alignments */
.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

/* Social Links Styling */
.social-links {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: flex-start;
}

.center-align .social-links {
  justify-content: center;
}

/* Icon Styling */
svg {
  width: 1em; /* Match the text size */
  height: 1em; /* Match the text size */
  vertical-align: middle; /* Align with text */
  fill: currentColor; /* Inherit color from parent */
  display: inline-block; /* Ensure it is displayed inline */
}

/* QR Code Styling */
#qr-code-icon svg {
  height: 100px;
  width: 100px;
  vertical-align: middle;
}

/* Print styles */
@media print {
  body,
  .cv-container {
    width: 100%;
    height: auto;
    border: none;
  }

  .cv-container {
    page-break-inside: avoid;
  }

  .header-container {
    page-break-inside: avoid;
    page-break-after: avoid;
  }

  section {
    page-break-inside: avoid;
    page-break-before: auto;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  p,
  ul {
    page-break-inside: avoid;
  }
}

.hidden {
  display: none;
}
